<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitter Mobile Template</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
    <meta name="description" content="Bitter Mobile Template">
    <meta name="keywords" content="bootstrap, mobile template, cordova, phonegap, mobile, html, responsive" />
</head>

<body>

    <!-- Page loading -->
    <div class="loading">
        <div class="spinner-grow"></div>
    </div>
    <!-- * Page loading -->

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="#" class="icon goBack">
                <i class="icon ion-ios-arrow-back"></i>
            </a>
        </div>
        <div class="pageTitle">FAQ</div>
        <div class="right">
            <a href="#" class="link">
                Support
            </a>
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="appContent">

            <img src="assets/img/sample/draw-4.png" alt="draw" class="img-fluid mb-4 mt-2">

            <div class="sectionTitle text-center mb-2">
                <div class="text-muted">Need Help?</div>
                <div class="title">
                    <h1>Frequently Asked Questions</h1>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="heading1">
                        <h2 class="mb-0">
                            <button class="btn btn-link text-dark" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Is this hybrid?
                                <i class="arrow icon ion-ios-arrow-down"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                        <div class="card-body pt-1">
                            Yes, Bitter is hybrid ready HTML template. You can use it with Phonegap, Cordova or Webview
                            for mobile apps or you can use it directly PWA apps.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading2">
                        <h2 class="mb-0">
                            <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How can i buy it?
                                <i class="arrow icon ion-ios-arrow-down"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                        <div class="card-body pt-1">
                            You can buy it on themeforest.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading3">
                        <h2 class="mb-0">
                            <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Is Bitter based on Bootstrap?
                                <i class="arrow icon ion-ios-arrow-down"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="heading3"
                        data-parent="#accordionExample">
                        <div class="card-body pt-1">
                            Yes, Bitter using Bootstrap v4.4.1
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading4">
                        <h2 class="mb-0">
                            <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Is this WordPress theme?
                                <i class="arrow icon ion-ios-arrow-down"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="heading4"
                        data-parent="#accordionExample">
                        <div class="card-body pt-1">
                            No, Bitter is HTML, CSS, JS Template for Hybrid Apps which can be made by Phonegap, Cordova
                            or Webview.
                            You can use it for your PWA projects too.
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4 text-center">
                <div class="sectionTitle text-center mt-4">
                    <div class="title">
                        <h1>Still have question?</h1>
                    </div>
                    <p class="mt-2 mb-3 text-center">Contact us if you still have questions.</p>
                </div>
                
                <button type="button" class="btn btn-primary">
                    <i class="icon ion-ios-mail"></i>
                    Contact Us
                </button>
            </div>

        </div>

    </div>
    <!-- appCapsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <div class="item">
            <a href="index.html">
                <p>
                    <i class="icon ion-ios-water"></i>
                    <span>Home</span>
                </p>
            </a>
        </div>
        <div class="item active">
            <a href="pages.html">
                <p>
                    <i class="icon ion-ios-apps"></i>
                    <span>Pages</span>
                </p>
            </a>
        </div>
        <div class="item">
            <a href="components.html">
                <p>
                    <i class="icon ion-ios-analytics"></i>
                    <span>Components</span>
                </p>
            </a>
        </div>
        <div class="item">
            <a href="search.html">
                <p>
                    <i class="icon ion-ios-search"></i>
                    <span>Search</span>
                </p>
            </a>
        </div>
        <div class="item">
            <a href="javascript:;" class="icon toggleSidebar">
                <p>
                    <i class="icon ion-ios-menu"></i>
                    <span>Menu</span>
                </p>
            </a>
        </div>
    </div>
    <!-- * App Bottom Menu -->

        <!-- Sidebar Menu -->
    <div class="sidebarWrapper">
        <div class="overlay toggleSidebar"></div>
        <nav class="sidebar">
            <div class="profilebox">
                <img src="assets/img/sample/avatar.jpg" alt="avatar" class="avatar">
                <h2 class="title">Gaspar Antunes</h2>
                <h5 class="lead">
                    <i class="icon ion-ios-pin mr-1"></i>
                    Chicago
                </h5>
                <div class="button">
                    <a href="#">
                        <i class="icon ion-ios-settings"></i>
                    </a>
                </div>
            </div>
            <div class="sidebarGroup">
                <ul class="sidebarMenu">
                    <li>
                        <a href="social-home.html">
                            <i class="icon ion-ios-people"></i>
                            Social
                        </a>
                    </li>
                    <li>
                        <a href="social-chat.html">
                            <i class="icon ion-ios-chatboxes"></i>
                            Chat
                        </a>
                    </li>
                    <li>
                        <a href="pages.html">
                            <i class="icon ion-ios-apps"></i>
                            Pages
                        </a>
                    </li>
                    <li>
                        <a href="components.html">
                            <i class="icon ion-ios-analytics"></i>
                            Components
                        </a>
                    </li>
                    <li>
                        <a href="blog-home.html">
                            <i class="icon ion-ios-book"></i>
                            Magazine - Blog
                        </a>
                    </li>
                    <li>
                        <a href="page-login.html">
                            <i class="icon ion-ios-lock"></i>
                            Login
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebarGroup">
                <ul class="sidebarMenu">
                    <li class="title">Online</li>
                    <li>
                        <a href="#">
                            <img src="assets/img/sample/avatar2.jpg" alt="avatar" class="avatar">
                            Guiying K.
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/sample/avatar3.jpg" alt="avatar" class="avatar">
                            Kita Chihoko
                            <span class="badge badge-primary">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/sample/avatar4.jpg" alt="avatar" class="avatar">
                            Leonetta Lloyd
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/sample/avatar5.jpg" alt="avatar" class="avatar">
                            Lizzie Rose
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/sample/avatar6.jpg" alt="avatar" class="avatar">
                            Kari Granleese
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    <!-- * Sidebar Menu -->

    <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="assets/js/plugins/owl.carousel.min.js"></script>
    <!-- Main Js File -->
    <script src="assets/js/app.js"></script>


</body>

</html>